#time {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  margin-left: 300px;
  padding-top: 80px;
  text-align: center;

}

h4 {
  text-align: center;
  border: 1px solid black;
  height: 30px;
  width: 300px;
  padding-top: 15px;
  margin-left: 380px;
}
